<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Webcon Consulting India Ltd.</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.lightbox-0.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.4.css" media="screen" />
<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>

</head>

<body>
<!-- wrappr start -->
<div id="content_wrapper">
<!-- top section start -->
	<div class="topContainer">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="Webcon Consulting India Pvt. Ltd." title="Webcon Consulting India Pvt. Ltd." /></a></div>
    <h1 class="logo_right"></h1>
    </div>
<!-- top section end -->
<div class="clear"></div>
<!-- navigaion start -->
<div class="navigaion_pan">

<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Who We Are</a></li>

<li class="drop"><a href="#">What We Do</a>
<div class="drop_pan" style="width:160px;">
<ul>
<li><a href="#">Skill Development Training</a></li>
<li><a href="#">Implementing CSR Initiative</a></li>
</ul>
</div>
</li>

<li><a href="#">Recruitment</a></li>
<li><a href="#" class="active">Photo Gallery</a></li>
<li><a href="#">Resouce Centre</a></li>
<li><a href="#">Contact Us</a></li>
</ul>




</div>
<!-- navigaion end -->
<div class="clear"></div>
<!-- banner_inner start -->
<div class="banner_inner">
  <img src="images/sub/phato-g.jpg" alt="" /></div>
<!-- banner_inner end -->

<!-- content area start -->

<div class="content_area">

<div class="left_pan_area">

<div class="left_box">
<div class="left_box_title">Our Features</div>
<div class="left_box_content">
<ul class="features">
<li><a href="#">Webcon Services</a></li> 
<li><a href="#">Major Clients </a></li> 
<li><a href="#">New Initiative </a></li> 
<li><a href="#">Tender &amp; Notice </a></li> 
<li><a href="#">NJMC Job</a></li> 
</ul>
</div>
<div class="left_box_bottom"></div>
</div>


<div class="left_box">
<div class="left_box_title">Latest News</div>
<div class="left_box_content">
	<div class="news_pan">
    <h6>May 11, 2013</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
    </div>
	<div class="news_pan">
    <h6>May 11, 2013</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
    </div>
    <div class="news_pan">
    <h6>May 11, 2013</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
    <a href="#" class="more_link">...more</a>
    </div>
    
</div>
<div class="left_box_bottom"></div>
</div>



</div>

<div class="right_pan_area">
<h2>Photo <span>Gallery</span></h2>

<div id="gallery">
      <ul>
        <li> <a href="images/photo_1.jpg" title="description_1"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_2"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_3"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_4"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_5"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_6"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_7"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_8"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_9"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_10"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_11"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_12"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_13"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_14"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_15"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_16"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_17"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_18"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_19"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_20"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_21"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_22"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_23"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
        <li> <a href="images/photo_1.jpg" title="description_24"> <img src="images/photo_1.jpg" width="72" height="72" alt="image" /></a></li>
      </ul>
    </div>

<div class="clear"></div>

</div>







<div class="clear"></div>
</div>

<!-- content area end -->








<div class="clear"></div>
</div>  
<!-- wrappr end -->
<div class="clear"></div>
<!-- Footer start -->
<div class="footer">
    <div id="footer_content">
    <div class="foot_link">
    <ul class="first_link">
    <li><a href="#">Enquiry</a> <span>|</span></li>  
    <li><a href="#">Services</a> <span>|</span></li>   
    <li><a href="#">Our Team</a> <span>|</span></li> 
    <li><a href="#">Recruitment</a> <span>|</span></li> 
    <li><a href="#">Photo Gallery</a> <span>|</span></li> 
    <li><a href="#">Site Map</a> <span>|</span></li> 
    <li><a href="#">Contact Us</a></li> 
    </ul>
    <div class="clear"></div>
    <ul class="second_link">
    <li><a href="#">Privacy Policy</a> <span>|</span></li>  
    <li><a href="#">Disclaimer</a> <span>|</span></li>   
    <li><a href="#">Terms &amp; Conditions</a></li> 
    </ul>
    </div>
    <div class="footer_address">
    <h6>Webcon Consulting (India) Ltd.</h6>
    <ul>
    <li>Chatterjee International Centre, 4th Floor</li>
    <li>33A, Jawaharlal Nehru Road</li>
    <li>Kolkata – 700 071, West Bengal, India</li>
    <li>Phone: (033) 22266527/ 6278 , 40706060/61  <span>|</span>  Fax: (033) 22881884</li>
    <li>Email: <a href="mailto:info@webcon.in">info@webcon.in</a>  <span>|</span> Website: <a href="http://www.webcon.in" target="_blank">www.webcon.in</a></li>

    </ul>
    </div>
    </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="copyright">
<div class="copyright_txt">Copyright &copy; 2012. Webcon Consulting (India) Ltd. All rights reserved.</div>
</div>
<!-- Footer end -->
</body>
</html>
